.slider {
    filter: brightness(40%);
}

.div-size {
    height: 180px;
}

.comments {
    height: 350px;
    width: 500px;
    border: 1px solid grey;
}

.question {
    height: fit-content;
    width: 800px;
    margin-left: 160px;
}

.footer {
    height: 250px;
}